# Ignorar arquivos do git
.git
.gitignore

# Ignorar arquivos node_modules e build locais
node_modules
.next

# Ignorar arquivos de configuração local e variáveis de ambiente
.env
Dockerfile
docker-compose.yml

# Ignorar logs e arquivos temporários
*.log
tmp
temp
*.sqlite
*.db

# Ignorar pastas e arquivos de cache e build não necessários
coverage
storage
public/assets

# Ignorar arquivos de sistema e editor
*.swp
*.swo
.DS_Store
.vscode
.idea

.next
npm-debug.log
yarn-error.log
Dockerfile
docker-compose.yml
